* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  background-color: rgb(162, 138, 255);
  height: 60px;
  padding: 30px 70px 0 70px;
}

h1{
  height: 70px;
  width: 300px;
}

#beneficios{
 height: 500px;
 width: 600px;
}

p{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  background-color: aliceblue;
  font-family:Arial, Helvetica, sans-serif ;
  height: 70px;
  width: 300px;

}